<?xml version="1.0" encoding="utf-8"?>
<GameParameters>
  <CommonParameter>
    <Themes>
      <Theme name="Basic" folder="Theme\basic">
        <Texture object="SoftBloc" source="SoftBloc.png"/>
        <Texture object="HardBloc" source="HardBloc.png"/>
        <Texture object="Bomb" source="Bomb.png"/>
        <Texture object="Upgrade.Kick" source="Kick.png"/>
        <Texture object="Upgrade.PowerUp" source="PowerUp.png"/>
        <Texture object="Upgrade.SpeedUp" source="SpeedUp.png"/>
        <Texture object="Upgrade.PowerMax" source="PowerMax.png"/>
        <Texture object="Upgrade.BombUp" source="BombUp.png"/>
        <Texture object="Upgrade.BombDown" source="BombDown.png"/>
        <Texture object="Upgrade.PowerDown" source="PowerDown.png"/>
        <Texture object="Upgrade.SpeedDown" source="SpeedDown.png"/>
        <Texture object="Upgrade.ChangeDirection" source="ChangeDirection.png"/>
        <Texture object="Upgrade.Teleport" source="Teleport.png"/>
        <Texture object="Upgrade.SpeedMax" source="SpeedMax.png"/>
        <Music object="Menu" source="menu.wav" />
        <Music object="Game" source="game1.wav" />
        <Music object="Game" source="game2.wav" />
        <Music object="Game" source="game3.wav" />
        <Music object="Win" source="win.wav" />
        <Music object="Draw" source="win.wav" />
        <Music object="Explosion" source="explosion.wav" />
      </Theme>
    </Themes>
    <SoftBlock count="49"/>
  </CommonParameter>
	<Game type="Classic">
    <Player lives="1"/>
    <Upgrades>
		  <Upgrade defaultFreq="3" currentFreq="3">Kick</Upgrade>
		  <Upgrade defaultFreq="3" currentFreq="3">PowerUp</Upgrade>
		  <Upgrade defaultFreq="3" currentFreq="3">SpeedUp</Upgrade>
		  <Upgrade defaultFreq="3" currentFreq="3">PowerMax</Upgrade>
		  <Upgrade defaultFreq="3" currentFreq="3">BombUp</Upgrade>
		  <Upgrade defaultFreq="3" currentFreq="3">BombDown</Upgrade>
		  <Upgrade defaultFreq="3" currentFreq="3">PowerDown</Upgrade>
		  <Upgrade defaultFreq="3" currentFreq="3">SpeedDown</Upgrade>
		  <Upgrade defaultFreq="3" currentFreq="3">ChangeDirection</Upgrade>
		  <Upgrade defaultFreq="3" currentFreq="3">Teleport</Upgrade>
		  <Upgrade defaultFreq="3" currentFreq="3">SpeedMax</Upgrade>
    </Upgrades>
	</Game>
	<Game type="Hardcore">
    <Player lives="1"/>
    <Updrades>
		  <Upgrade defaultFreq="3" currentFreq="3">Kick</Upgrade>
		  <Upgrade defaultFreq="3" currentFreq="3">PowerUp</Upgrade>
		  <Upgrade defaultFreq="3" currentFreq="3">SpeedUp</Upgrade>
		  <Upgrade defaultFreq="3" currentFreq="3">PowerMax</Upgrade>
		  <Upgrade defaultFreq="3" currentFreq="3">BombUp</Upgrade>
		  <Upgrade defaultFreq="3" currentFreq="3">BombDown</Upgrade>
		  <Upgrade defaultFreq="3" currentFreq="3">PowerDown</Upgrade>
		  <Upgrade defaultFreq="3" currentFreq="3">SpeedDown</Upgrade>
		  <Upgrade defaultFreq="3" currentFreq="3">ChangeDirection</Upgrade>
		  <Upgrade defaultFreq="3" currentFreq="3">Teleport</Upgrade>
		  <Upgrade defaultFreq="3" currentFreq="3">SpeedMax</Upgrade>
    </Updrades>
	</Game>
	<Game type="Crazy">
    <Player lives="7"/>
    <Upgrades>
		  <Upgrade defaultFreq="3" currentFreq="3">Kick</Upgrade>
		  <Upgrade defaultFreq="3" currentFreq="3">PowerUp</Upgrade>
		  <Upgrade defaultFreq="3" currentFreq="3">SpeedUp</Upgrade>
		  <Upgrade defaultFreq="3" currentFreq="3">PowerMax</Upgrade>
		  <Upgrade defaultFreq="3" currentFreq="3">BombUp</Upgrade>
		  <Upgrade defaultFreq="3" currentFreq="3">BombDown</Upgrade>
		  <Upgrade defaultFreq="3" currentFreq="3">PowerDown</Upgrade>
		  <Upgrade defaultFreq="3" currentFreq="3">SpeedDown</Upgrade>
		  <Upgrade defaultFreq="3" currentFreq="3">ChangeDirection</Upgrade>
		  <Upgrade defaultFreq="3" currentFreq="3">Teleport</Upgrade>
		  <Upgrade defaultFreq="3" currentFreq="3">SpeedMax</Upgrade>
    </Upgrades>
	</Game>
</GameParameters>