<Game type="Classic">
	<Bonus>UpgradeType.Kick</Bonus>
	<Bonus>UpgradeType.PowerUp</Bonus>
	<Bonus>UpgradeType.SpeedUp</Bonus>
	<Bonus>UpgradeType.PowerMax</Bonus>
	<Bonus>UpgradeType.BombUp</Bonus>
	<Malus>UpgradeType.BombDown</Malus>
	<Malus>UpgradeType.PowerDown</Malus>
	<Malus>UpgradeType.SpeedDown</Malus>
	<Malus>UpgradeType.ChangeDirection</Malus>
	<Malus>UpgradeType.Teleport</Malus>
	<Malus>UpgradeType.SpeedMax</Malus>
</Game>
<Game type="Hardcore">
	<Bonus>UpgradeType.Kick</Bonus>
	<Bonus>UpgradeType.PowerUp</Bonus>
	<Bonus>UpgradeType.SpeedUp</Bonus>
	<Bonus>UpgradeType.PowerMax</Bonus>
	<Bonus>UpgradeType.BombUp</Bonus>
	<Malus>UpgradeType.BombDown</Malus>
	<Malus>UpgradeType.PowerDown</Malus>
	<Malus>UpgradeType.SpeedDown</Malus>
	<Malus>UpgradeType.ChangeDirection</Malus>
	<Malus>UpgradeType.Teleport</Malus>
	<Malus>UpgradeType.SpeedMax</Malus>
</Game>
<Game type="Crazy">
	<Bonus>UpgradeType.Kick</Bonus>
	<Bonus>UpgradeType.PowerUp</Bonus>
	<Bonus>UpgradeType.SpeedUp</Bonus>
	<Bonus>UpgradeType.PowerMax</Bonus>
	<Bonus>UpgradeType.BombUp</Bonus>
	<Malus>UpgradeType.BombDown</Malus>
	<Malus>UpgradeType.PowerDown</Malus>
	<Malus>UpgradeType.SpeedDown</Malus>
	<Malus>UpgradeType.ChangeDirection</Malus>
	<Malus>UpgradeType.Teleport</Malus>
	<Malus>UpgradeType.SpeedMax</Malus>
</Game>