<GameParameters>
	<Game type="Classic">
		<Bonus defaultFreq="3">UpgradeType.Kick</Bonus>
		<Bonus defaultFreq="3">UpgradeType.PowerUp</Bonus>
		<Bonus defaultFreq="3">UpgradeType.SpeedUp</Bonus>
		<Bonus defaultFreq="3">UpgradeType.PowerMax</Bonus>
		<Bonus defaultFreq="3">UpgradeType.BombUp</Bonus>
		<Malus defaultFreq="3">UpgradeType.BombDown</Malus>
		<Malus defaultFreq="3">UpgradeType.PowerDown</Malus>
		<Malus defaultFreq="3">UpgradeType.SpeedDown</Malus>
		<Malus defaultFreq="3">UpgradeType.ChangeDirection</Malus>
		<Malus defaultFreq="3">UpgradeType.Teleport</Malus>
		<Malus defaultFreq="3">UpgradeType.SpeedMax</Malus>
	</Game>
	<Game type="Hardcore">
		<Bonus defaultFreq="3">UpgradeType.Kick</Bonus>
		<Bonus defaultFreq="3">UpgradeType.PowerUp</Bonus>
		<Bonus defaultFreq="3">UpgradeType.SpeedUp</Bonus>
		<Bonus defaultFreq="3">UpgradeType.PowerMax</Bonus>
		<Bonus defaultFreq="3">UpgradeType.BombUp</Bonus>
		<Malus defaultFreq="3">UpgradeType.BombDown</Malus>
		<Malus defaultFreq="3">UpgradeType.PowerDown</Malus>
		<Malus defaultFreq="3">UpgradeType.SpeedDown</Malus>
		<Malus defaultFreq="3">UpgradeType.ChangeDirection</Malus>
		<Malus defaultFreq="3">UpgradeType.Teleport</Malus>
		<Malus defaultFreq="3">UpgradeType.SpeedMax</Malus>
	</Game>
	<Game type="Crazy">
		<Bonus defaultFreq="3">UpgradeType.Kick</Bonus>
		<Bonus defaultFreq="3">UpgradeType.PowerUp</Bonus>
		<Bonus defaultFreq="3">UpgradeType.SpeedUp</Bonus>
		<Bonus defaultFreq="3">UpgradeType.PowerMax</Bonus>
		<Bonus defaultFreq="3">UpgradeType.BombUp</Bonus>
		<Malus defaultFreq="3">UpgradeType.BombDown</Malus>
		<Malus defaultFreq="3">UpgradeType.PowerDown</Malus>
		<Malus defaultFreq="3">UpgradeType.SpeedDown</Malus>
		<Malus defaultFreq="3">UpgradeType.ChangeDirection</Malus>
		<Malus defaultFreq="3">UpgradeType.Teleport</Malus>
		<Malus defaultFreq="3">UpgradeType.SpeedMax</Malus>
	</Game>
</GameParameters>